header {
  background-color: lightsteelblue;
}

.projects {
  background-color: papayawhip;
}

.jobs {
  background-color: plum;
}

.education {
  background-color: olive;
}

.about {
  background-color: tomato;
}

footer {
  background-color: darkslategrey;
}