.content {
  margin: 0 auto;
  width: 800px;
  padding: 60px 0;
}

header {
  background-color: cornflowerblue;
  padding: 30px;
  text-align: center;
}

h1 {
  font-weight: 200px;
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
  font-size: 3em;
  color: aliceblue;
}

h2, h3, p, ul {
  font-family: 'Roboto', sans-serif;
  color: #343434;
}

header p {
  color: aliceblue;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 300px;
  padding: 20px;
}

.projects {
  background-color: papayawhip;
}

.jobs {
  background-color: plum;
}

.education {
  background-color: olive;
}

.about {
  background-color: tomato;
}

footer {
  background-color: darkslategrey;
  text-align: center;
  color: whitesmoke;
}

footer a, footer h2 {
  color: whitesmoke;
}